<div class="background"></div>
<div class="text-inner">
	{{#if title}}
		<div class="title">
			{{#if _linkId}}
				<div class="lightbox-link lightbox-link-title display-none">
					<button tabindex="-1" class="a11y-ignore lightbox-icon">{{#if _iconGraphic}}<img class="icon-default" src="{{{_iconGraphic.src}}}"><img class="icon-hover" src="{{{_iconGraphic.hoverSrc}}}">{{else}}{{_linkText}}{{/if}}</button>
				</div>
			{{/if}}
			<div class="title-text" aria-level="4" tabindex="0">{{{title}}}</div>
		</div>
	{{/if}}
	{{#if body}}
		<div class="body">
			{{{a11y_text body}}}
		</div>
	{{/if}}
	{{#if instruction}}
		<div class="instruction">
			{{{a11y_text instruction}}}
		</div>
	{{/if}}
	{{#if _linkId}}
		<div class="lightbox-link-progress-container">
			<div class="lightbox-link-progress"><div class="lightbox-link-progress-bar"><button class="aria-label prevent-default"></button></div></div>
		</div>
		<div class="lightbox-link lightbox-link-center display-none">
			<button data-link="{{_linkId}}">{{_linkText}}</button>
			{{#if _linkInstruction}}
				<br />
				<hr />
				<span class="lightbox-link-instruction">{{_linkInstruction}}</span>
			{{/if}}
		</div>
		
	{{/if}}
</div>